body{
    border: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;   
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-family: Arial;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    margin: 0px;
    padding: 10px;
}
.logo {
    color: #ffffff;
    font-weight: 800;
    font-family: Arial;
    font-size: 22px;
}
img {
    display: flex;
    height: auto;
    max-width: 400px;
    
}
.hero {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    gap: 100px;
    text-align: left;
    background-color: #1f2937;
}
.text-1 {
    color: #ffffff;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.text-2 {
    color: #ffffff;
}
button {
   margin-top: 10px;
   border: none;
   background-color: #3882F6;
   color: #ffffff;
   padding: 7px 20px;
   border-radius: 7%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 800;

}
#hero-image {
    padding-bottom: 100px;
}
.section-2 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-top: 30px;
    
}
.text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #1f3927;
    padding-bottom: 20px;
    
}
.sub-image {
    display: flex;
    max-width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 10px;
    


   
}
.image-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    
}